
  /* Estilo responsivo para diferentes tamanhos de tela */
  
  @media (max-width: 768px) {
    .festa-card {
      width: 45%;  /* Exibe 2 itens por linha em telas pequenas */
    }
  }
  
  @media (max-width: 480px) {
    .festa-card {
      width: 100%;  /* Exibe 1 item por linha em telas muito pequenas */
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@400;600&display=swap');




/* Estilos para a navbar */
.navbar ul li a,
.nav-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
}

.nav-button:hover,
.navbar ul li a:hover {
  background-color: #3cb371;
  border-radius: 4px;
}


/* Modal Styles */
.modal {
    display: block; /* Exibe o modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo com transparência */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Festa Card */
  .festas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
  }
  
  .festa-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .festa-card:hover {
    transform: scale(1.05);
  }
  
  .festa-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .festa-info h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    border-radius: 10px;
    width: 600px;
    padding: 20px;
    position: relative;
  }
  
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .modal-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  /* Avaliações */
  .avaliacao-container {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .avaliacao-id {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .avaliacao-stars {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .avaliacao-stars label {
    font-weight: bold;
  }
  
  .avaliacao-stars span {
    color: #ffc107;
    font-size: 18px;
  }
  
  