.cadastro-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 14px;
    color: #777;
    margin-top:0.6rem;
    margin-bottom: 0.1rem;
    display: block;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 1rem;
    text-align: center;
}

/* Estilo para telas menores */
@media (max-width: 480px) {
    .cadastro-container {
        padding: 1.5rem;
        width: 100%;
        max-width: 100%;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

/* Estilo para o botão "Excluir" */
button.mat-button:nth-child(2) {
  background-color: #F44336; /* Vermelho para "Excluir" */
}

button.mat-button:nth-child(2):hover {
  background-color: #D32F2F; /* Vermelho mais escuro no hover */
}

