@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Open+Sans:wght@400;600&display=swap');

/* Estilo do conteúdo do diálogo */
mat-dialog-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Estilo dos campos de input dentro do diálogo */
mat-form-field {
  width: 100%;
  min-height: 56px;
  margin-bottom: 16px; /* Espaçamento entre os campos */
}

/* Estilo dos botões do diálogo */
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

/* Estilo do botão "Cancelar" */
button.mat-button:nth-child(1) {
  background-color: #F44336; /* Vermelho para "Cancelar" */
}

button.mat-button:nth-child(1):hover {
  background-color: #D32F2F; /* Vermelho mais escuro no hover */
}

/* Estilo do botão "Salvar" */
button.mat-button:nth-child(2) {
  background-color: #4CAF50; /* Verde para "Salvar" */
}

button.mat-button:nth-child(2):hover {
  background-color: #388E3C; /* Verde mais escuro no hover */
}
