<div class="registrar">
  <div class="rectangle-1"></div>
  <div class="registrar2">Registrar</div>
  <div class="nome-completo">Nome Completo</div>
  <input class="rectangle-5" type="text" id="nome_completo" [(ngModel)]="nome_completo" name="nome_completo" placeholder="Insira seu nome completo" required />

  <div class="e-mail">E-mail</div>
  <input class="rectangle-2" type="email" id="email" [(ngModel)]="email" name="email" placeholder="Insira seu E-mail" required />

  <div class="senha">Senha</div>
  <input class="rectangle-3" type="password" id="senha" [(ngModel)]="senha" name="senha" placeholder="Insira sua senha" required />

  <div class="rectangle-4"></div>
  <div class="rectangle-6"></div>
  <div class="rectangle-7"></div>
  <div class="rectangle-8"></div>
  <div class="rectangle-9"></div>
  <div class="rectangle-42"></div>
  <div class="cadastrar">Cadastrar</div>
  
  
  
  <div class="data-de-nascimento">Data de Nascimento</div>
  <div class="idade">Idade</div>
  <div class="endere-o">Endereço</div>
  <div class="login-acad-mico">Login Acadêmico</div>
  <div class="rede-social">Rede Social</div>
  <div class="avalia-10">Avalia10</div>
  <div class="dd-mm-aaaa">dd/mm/aaaa</div>
  <div class="_0">0</div>
  <div class="_02">0</div>
  <div class="_03">0</div>
  <div class="_04">0</div>
  <div class="j-possui-uma-conta-fa-a-login">
    <span>
      <span class="j-possui-uma-conta-fa-a-login-span">
        Já possui uma conta?
      </span>
      <span class="j-possui-uma-conta-fa-a-login-span2">Faça login</span>
    </span>
  </div>
  
</div>
