

  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }

  label {
    font-size: 14px;
    color: #aaa;
    margin-top: 0.4rem;
    display: block;
    
  }
  
  ::placeholder {
    color: #222;
    opacity: 1; /* Firefox */
  }