/* Centralizando a div do formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela */
  }
  
  form {
    width: 600px; /* Largura do formulário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Estilo para os inputs e labels */
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #00b345;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #00b345;
  }
  
  form .error {
    color: red;
    margin-top: 10px;
  }
  